/* Basic Stlying  */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* Primary Colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

.nav-container {
  width: 400px;
  margin-bottom: 10px;
}

.nav-bar {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-styling {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.nav-styling:hover {
  color: var(--Cyan);
}

body {
  background-color: var(--Very-dark-blue-card-BG);
  color: var(--White);
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* HOMEPAGE STYLING */
.single_page_view {
  width: 100%;
  min-height: 100vh;
}

.center_page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homepage_container h1, 
.homepage_container h2,
.homepage_container p,
h2 {
  text-align: center;
} 

.homepage_container h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.homepage_container h1 span {
  font-size: 2rem;
  color: var(--Soft-blue)
}

.homepage_container h1:hover{
  color: var(--Cyan);
}

.homepage_container .size {
  font-size: 1.7rem;
  font-style: italic;
}

.margin-top {
  margin-top: 1rem;
}

/* ABOUT US STYLING  */
.center_about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team_member {
  background-color: var(--Very-dark-blue-line);
  border-radius: 20px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Margins for desktop layout*/
@media (min-width: 750px) {
  .team_member {
    margin-right: 3rem;
  }
}

.team_member img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team_member button {
  cursor: pointer;
  padding: 0.1rem;
}

.team_member button:hover {
  background-color: var(--Soft-blue);
  color: var(--Cyan);
}

/*Contact form styling*/

.contact-us-box {
  width: 60%;
  background-color: var(--Very-dark-blue-line);
  border: 1px black solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.stack > * + * {
  margin-top: 0.3rem;
}

.first-name {
  margin-top: 0.5rem;
}

.fieldset {
  border: 1px solid black;
  padding: 10px;
}

.submit-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.github-p {
  margin-bottom: 10px;
}

.github-link-styling {
  font-size: 15px;
  color: white;
  padding: 5px;
}

.github-link-styling:hover {
  color: var(--Cyan);
}

@media screen and (max-width: 400px) {
  .marketing-label {
    font-size: 13px;
  }
}
footer {
  width: 100vw;
  background-color: var(--Soft-blue);
}

footer p {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: var(--Very-dark-blue-line);
}
