/* BASIC STYLING FOR ALL ELEMENTS */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Very-dark-blue-BG);
  color: var(--White);
  font-family: "Ubuntu", sans-serif;
}

:root {
  --Very-dark-blue-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(100, 100%, 0%);

  /* PRIMARY COLORS */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

.single-page-view {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--White);
}

.center-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-align-center > * + *,
h1,
h2 {
  text-align: center;
}

.margin-top > * + * {
  margin-top: 1rem;
}

.button {
  padding: 0.3rem;
  background-color: var(--Very-dark-blue-BG);
  border-radius: 5px;
}

.button:hover {
  background-color: var(--Cyan);
}

.button a:hover {
  color: var(--Black);
}

/* BASIC STYLING CSS END*/

.nav-container {
  width: 400px;
  margin-bottom: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1rem;
}

li a:hover {
  color: var(--Cyan);
}

/* HOMEPAGE STYLING */

.homepage-container h1 {
  font-size: 4rem;
}
.homepage-container h1 span {
  font-size: 2rem;
  color: var(--Soft-blue);
}

.homepage-container .font-size {
  font-size: 1.7rem;
  font-style: italic;
}

/* ABOUT US STYLING  */
.center-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-member {
  background-color: var(--Very-dark-blue-line);
  border-radius: 20px;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
}

/*MARGINS FOR DESKTOP LAYOUT*/
@media (min-width: 650px) {
  .team-member {
    display: flex;
    justify-content: space-between;
  }
}

.team-member img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/*CONTACT FORM STYLING*/

.contact-us-box {
  width: 60%;
  background-color: var(--Very-dark-blue-line);
  margin-top: 2rem;
  border-radius: 20px;
  padding: 0.5rem;
}

.stack > * + * {
  margin-top: 0.3rem;
}

fieldset {
  border: 1px solid var(--Black);
  padding: 10px;
}

.github-p {
  margin-bottom: 10px;
}

button {
  color: var(--White);
}

button:hover {
  color: var(--Black);
}

.github-link-styling {
  font-size: 15px;
  color: white;
  padding: 5px;
}

.github-link-styling:hover {
  color: var(--Cyan);
}

.contact-box-after-submit {
  background-color: var(--Very-dark-blue-line);
  width: 40%;
  border-radius: 20px;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

@media screen and (max-width: 400px) {
  .marketing-label {
    font-size: 13px;
  }
}

@media screen and (max-width: 657px) {
  .contact-us-box {
    width: 20rem;
  }
  .contact-box-after-submit {
    width: 20rem;
  }
}

footer {
  width: 100vw;
  background-color: var(--Very-dark-blue-line);
  padding: 0.2rem;
}

footer p {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: var(--White);
}

footer a:hover {
  text-decoration: underline;
}
